.header__top {
  height: 50px;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.header__bot {
  height: 80px;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 2;
}
